@font-face {
    font-family: 'PoppinsTVG-SemiBold';
    src: url('PoppinsTVG-SemiBold.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'PoppinsTVG-SemiBold', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F2023;
    color: #F0F7EE;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

a {
    color: aqua;
}

p {
    margin: 0;
}

input[type="text"], select {
    display: block;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #3e8e41;
    }

.parentNavBarContainer {
    display: grid;
    position: fixed;
    width: 100%;
    grid-template: "a b c" /1fr 1fr 1fr;
    height: 10vh; /* 10% of viewport height */
}

.div1NavBar {
    grid-area: a;
    background-color: #2E3136;
}

.div2NavBar {
    grid-area: b;
    background-color: #2E3136; /* Add background color for visibility */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div3NavBar {
    grid-area: c;
    text-align: center;
    background-color: #2E3136; /* Add background color for visibility */
}

.div3NavBar > a {
    position: relative;
    top: 50%;
    color: white;
}

.div3NavBar > a:hover {
    opacity: 0.7;
    cursor: pointer;
}

#FaceGramNavBarLogo {
    max-width: 40%;
    max-height: 40%;
}

#fakeLogin {
    padding-top: 10vh;
}


/* ----------

Below is flow styling

-------------*/

.flow {
    width: clamp(200px, 100%, 500px);
    margin: auto;
    background-color: #2e3136;
}

.flow > li {
    border-bottom: 3px solid grey;
    padding: 1em;
}

.postProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4em;
    padding-bottom: 1em;
}

.profilePic {
    background-color: #1F2023;
    width: 40px;
    height: 40px;
    background-image: url(~/standard-profile-pic.png);
    border-radius: 20px;
}
