@using Project_Hashtag.Pages.Shared.Components.LoginMenu;
@inject Project_Hashtag.Data.AccessControl accessControl

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <div class="parentNavBarContainer"> 
        <div class="div1NavBar"> </div> 
        <div class="div2NavBar">
            <img src="FaceGramLogo.svg" alt="FaceGram Logo Gold" class="svg-logo" type="image/svg+xml" id="FaceGramNavBarLogo">
        </div>
        <div class="div3NavBar">
            <h1>@accessControl.LoggedInAccountName</h1>
        </div> 
    </div>
    <header>
        <environment names="Development">
            @await Component.InvokeAsync(nameof(FakeLoginMenu))
        </environment>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>