@using Project_Hashtag.Pages.Shared.Components.LoginMenu;
@inject Project_Hashtag.Data.AccessControl accessControl

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <script src="~/js/site.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header class="parentNavBarContainer"> 
        <div class="div1NavBar"> </div> 
        <a class="div2NavBar" asp-page="./index">
        <img src="~/FaceGramLogo.svg" alt="FaceGram Logo Gold" class="svg-logo" type="image/svg+xml" id="FaceGramNavBarLogo">
        </a>
        <div class="div3NavBar">
            <a asp-page="Profile" asp-route-userId="@accessControl.LoggedInAccountID">@accessControl.LoggedInAccountName <img src="~/standard-profile-pic.png" alt="profile picture" style="width: 40px" /></a>
        </div> 
    </header>   
    <div id="fakeLogin">
        <environment names="Development">
            @await Component.InvokeAsync(nameof(FakeLoginMenu))
        </environment>
    </div>
    <main>
        @RenderBody()
    </main>
</body>
</html>